.App {
  height: 100%;
  width: 100%;
}

.form-wrapper {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  min-width: fit-content;
  background-color: rgb(62, 218, 218);
  border-radius: 2cm;
  padding: 2cm;
}

.form-control {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 15px;
}
